Project/Library
Project/Logs
Project/Temp
Project/UserSettings
Project/.vscode
Project/*.csproj
Project/*.sln
Project/.idea
Project/obj
.vscode
Project/Project.sln.DotSettings.user
Plugins/android-aec-lib/.gradle
Project/Assets/Samples
